
 
 .menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;

 }

 .div-titulo{
   margin: 10px;
   padding: 10px; 
   display: flex;
   justify-content: center;
}

.realza{
 display: flex;
 justify-content: center;
}